        h1, h2{
            color: darkblue;
            font-size: 1.8em;
        }

        p {
            margin-left: 10%;
            margin-right: 10%;
            color: black;
            background-color: lightgray;
            text-align: justify;
        }